.checkbox {
  display: none;
}

label {
  display: flex;

  font-weight: 600;
}

span {
  word-wrap: break-word;
}

input,
select {
  width: 90%;

  font-style: italic;
  font-size: 1.1rem;

  background-color: transparent;
  border: none;
}

input,
select:focus {
  outline: none;
}

.simple-button {
  padding: 10px 5px;

  font-size: 1.2rem;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: 0.1s;
}

.simple-button:hover {
  box-shadow: 2px 1px 5px;
}

.close-button {
  padding: 10px 5px;

  font-size: 1.2rem;

  border: none;
  cursor: pointer;
}

.radius {
  border-radius: 10px;
}


button:focus {
  outline: none;
}

.fake {
  position: relative;
  top: 7px;

  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;

  border-radius: 50%;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 35px;
  height: 35px;

  background-image: url("./checked.svg");
  transform: translate(-50%, -50%);
  opacity: 0;

  transition: 0.3s;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.checkbox:checked + .fake {
  border: 1px solid skyblue;
}