.theme-change-window {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin: auto;
  padding: 10px 20px;

  background-color: #ffffff;
  border: 2px solid silver;
  border-radius: 20px;
}

.theme-change-window h3 {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.list-item {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 5px;

  border: 2px solid lightgray;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.3s;
}


.list-item:hover {
  border: 2px solid gray;
}

.dark {
  background-color: rgb(40, 44, 52);
}

.light {
  background-color: #e8eaed;
}

.red {
  background-color: #f28b82;
}

.orange {
  background-color: #fbbc04;
}

.yellow {
  background-color: #fff475;
}

.purple {
  background-color: #d7aefb;
}

.pink {
  background-color: #fdcfe8;
}

.blue {
  background-color: #aecbfa;
}

.skyblue {
  background-color: #cbf0f8;
}

.brown {
  background-color: #e6c9a8;
}


.list-of-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-of-images .item {
  margin-right: 5px;

  cursor: pointer;
}

.list-of-images .item img {
  border: 4px solid transparent;

  transition: 0.3s;
}

.list-of-images .item:hover img {
  border: 4px solid lightgray;
}

.item img {
  width: 100px;
  height: 100px;
}
