#left-side {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-right: 50px;
  padding-bottom: 30px;
  
  background-color: #e8eaed;
  border-bottom-right-radius: 20px;
  
  transition: 0.4s;
}

#todo-title {
  margin-bottom: 0;
  padding-bottom: 5px;
  
  text-align: center;
}

#create-task-form {
  margin-left: 20px;
}

.label-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  display: block;
  margin-bottom: 20px;
}

.label-container .field {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  padding-bottom: 4px;
}