body {
  margin: 0;
  padding: 0;

  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  background-image: url("../images/image2.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

code {
  font-family: "source-code-pro",
    "Menlo",
    "Monaco",
    "Consolas",
    "Courier New",
    monospace;
}

#root {
  position: relative;

  min-height: calc(80vh - 20px);
}

#main-title {
  position: relative;

  display: flex;
  align-items: center;
}

#todo-title {
  margin-bottom: 0;
  padding-bottom: 5px;

  text-align: center;
}

#create-task-form {
  margin-left: 20px;
}

#left-side {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-right: 50px;
  padding-bottom: 30px;

  background-color: #e8eaed;
  border-bottom-right-radius: 20px;

  transition: 0.4s;
}

#squares {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

#main {
  display: grid;

  grid-gap: 15px;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
}

.square {
  position: relative;

  padding: 0 10px;

  border-radius: 10px;
  opacity: 0.9;
}

.square .list {
  position: relative;

  display: block;
  height: 260px;
  padding: 5px 15px;
  overflow-y: scroll;
}

.square .list::-webkit-scrollbar {
  display: none;
}

.deadline-sort-button {
  position: absolute;
  top: 5px;
  right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;

  font-size: 1.4rem;

  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: 0.3s;
}

.common-tasks-list-container {
  width: 715px;
  max-height: 50vh;
  padding: 10px 15px;
  overflow-y: scroll;

  border-radius: 10px;
  opacity: 0.9;
}

.common-tasks-list-container::-webkit-scrollbar {
  display: none;
}

.square h3 {
  z-index: 20;

  width: 100%;
  margin-bottom: 20px;

  text-align: center;
}

footer {
  margin-top: 10px;
  margin-bottom: 30px;
}
