body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#todo-title {
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0;
}

#create-task-form {
  margin-left: 20px;
}

#left-side {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;

  margin-right: 50px;
  padding-bottom: 30px;
  border-bottom-right-radius: 20px;
  width: 20vw;
  background-color: #e8eaed;

  transition: .4s;
}

#squares {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
  grid-gap: 0.5rem;
}

.square {
  position: relative;
  padding: 0 10px;
  border-radius: 10px;
  opacity: 0.9;
}

.square .list {
  display: block;
  height: 260px;
  position: relative;
  overflow-y: scroll;
  padding: 5px 15px;
}

.square .list::-webkit-scrollbar {
  display: none;
}

.square h3 {
  z-index: 20;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

footer {
  margin-bottom: 30px;
  margin-top: 30px;
}
