body {
  margin: 0;
  padding: 0;

  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  background-image: url("./components/lib/images/image2.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

code {
  font-family: "source-code-pro",
    "Menlo",
    "Monaco",
    "Consolas",
    "Courier New",
    monospace;
}

#root {
  position: relative;

  min-height: calc(80vh - 20px);
}

#main-title {
  position: relative;

  display: flex;
  align-items: center;
}

