.switcher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switcher-container .text {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #131313;
}

.switcher-container > input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid #BBC1E1;
    background: #ffffff;
    
}

#switcher {
    position: relative;
    width: 70px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(.2, .85, .32, 1.2);
}

#switcher::after {
    content: "";
    
    position: absolute;
    top: 3px;
    left: 2px;
    width: 28px;
    height: 28px;
    background-color: rgb(39, 94, 254);
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(.2, .85, .32, 1.2);
}

#switcher:checked {
    background-color: rgba(39, 94, 254);
}

#switcher:checked::after {
    transform: translateX(35px);
    background-color: #ffffff;
}