.theme-change-window {
    position: absolute;
    left: 35%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid silver;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
}

.theme-change-window h3 {
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-item {
    cursor: pointer;

    border: 2px solid lightgray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
}


.list-item:hover {
    transition: .3s;
    border: 2px solid gray;
}

.dark {
    background-color: rgb(40, 44, 52);
}
.light {
    background-color:#e8eaed;
}
.red {
    background-color: #f28b82;
}
.orange {
    background-color: #fbbc04;
}
.yellow {
    background-color: #fff475;
}
.purple {
    background-color: #d7aefb;
}
.pink {
    background-color: #fdcfe8;
}
.blue {
    background-color: #aecbfa;
}
.skyblue {
    background-color: #cbf0f8;
}
.brown {
    background-color: #e6c9a8;
}
